.subReply {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .write {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    input {
      flex: 3;
      border: 1px solid themed("border");
      background-color: transparent;
      color: themed("textColor");
      outline: none;
    }
    button {
      border: none;
      background-color: green;
      color: white;
      padding: 20px;
      cursor: pointer;
      border-radius: 30px;
    }
  }

  .comment {
    margin: 30px 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .info {
      flex: 5;
      display: flex;
      flex-direction: column;
      gap: 3px;
      align-items: flex-start;

      span {
        font-weight: 100;
      }

      
    }

    
  }
}
