@import "../../style.scss";
::backdrop
.pagebody {
  @include themify($themes) {
    width: 20%;
    color: black;

    .home {
      padding: 20px 70px;
      width: 600px;
      margin: 0 auto;
    }
  }
}
